{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">

			<p align="center"><strong>Phase 1</strong></p>
			<p><a href="/p1a1">Activity 1</a>
			<br /> Kim's Details</p>

			<p><a href="/p1a2">Activity 2</a>
			<br /> Multiply two integers without using multiplication </p>
			
			<p><a href="/p1a3">Activity 3</a>
			<br />Perfect Numbers
			</p>
		</div>

		<div class="col-sm-4">
			<p align="center"><strong>Phase 2</strong></p>
			<p><a href="/p2a1">Activity 1</a>
			<br />Form Submission
			</p>

			<p><a href="/p2a2">Activity 2</a>
			<br />Calculator
			</p>
		</div>
		
		<div class="col-sm-4">
			<p align="center"><strong>Phase 3</strong></p>
			<p><a href="/p3a1">Activity 1</a>
			<br />Form Submission with Results Page
			</p>

			<p><a href="/p3a2">Activity 2</a>
			<br />Age Computer
			</p>

			<p><a href="/p3a3">Activity 3</a>
			<br />Print Array
			</p>

			<p><a href="/p3a4">Activity 4</a>
			<br />2D Array
			</p>
		</div>
	</div>
</div>
{% endblock %}